*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 5em; */
}

.container{
    width: 100%;
    height: 100%;
    background-color: #F4F4F4;
    text-align: center;
    display: grid;
    grid-template-rows: 16rem 28.7rem;
}

.input{
    background-color: #6943FF;
    
    padding-top: 1.7rem;  
}

h1{
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 2.5rem;
}

.numb{
    background-color: #6943FF;
    width: 7vw;
    height: 6rem;
    display: block;
    margin-top: 1rem;
    margin-left: 43rem;
    padding-left: 0.8em;
    
    border: 2px solid #B295FF;
    border-radius: 0.5rem;
    color: white;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    
    
}

.btn{
    width: 11em;
    height: 2rem;
    margin-top: 0.8rem;
    margin-left: -15px;
    border-radius: 0.5rem;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 1;
    font-size: small;  
}

.result{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items:center ;
}

.len,.vol,.mas{
    width: 40rem;
    height: 5rem;
    background-color: white;
    border-radius: 1rem;
    padding-top: 8px;
    line-height: 1rem;
    
}

.text{
    font-family: 'Inter', sans-serif;
    color: #5A537B;
    font-size: 15px;
    font-weight: 600;
    margin-top: 0.5rem;
}

.dyn{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    margin-top: 20px;
    color: #353535;
}



